#backgroundimage{
  background-image: url("https://i.postimg.cc/3wSByKL5/imageedit-1-2877245596.png");
  background-position: center;
  background-repeat: no-repeat;
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#spotifyiframe{
    position: absolute;
    left: 0;
    bottom: 0;
}

  .Beedio {
    position: auto;
    margin: auto;
    bottom: 0;
    right: 0;
    /* transform: translate(-50%, -50%); */
}