<div class="img-fluid" id="backgroundimage">
  <app-welcome></app-welcome>
  <router-outlet></router-outlet>


<footer>
 
  <!-- <div class="ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/RNGueeFF0HU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> -->
 
  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX76Wlfdnj7AP" id="spotifyiframe" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </footer>

</div>