<p class="fs-1 ; text-center">Welcome</p>
<marquee>Shut up and Squat!</marquee>
<h3 class="text-decoration-line-through ; text-center">Workout Tomorrow</h3>
<h3 class="text-center">
    <a class="text-decoration-none" (click)="this.workoutComp()">Workout Right now!</a>
</h3>

<!-- <footer>
    <div class="Beedio">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RNGueeFF0HU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>    
</footer> -->
