<table class="table">
    <thead>
      <tr>
        <th scope="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">MuscleGroup</th>
        <th scope="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">ExerciseName</th>
        <th scope="col" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workouts of CopiedWorkouts">
        <td style="font-weight: bold;">{{workouts.MuscleGroup}}</td>
        <td style="font-weight: bold;">{{workouts.ExerciseName}}</td>
        <td>
          <a class="link-primary" (click)="this.details()">Details</a>&nbsp;
          <a class="link-danger">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>